<!doctype html>
<html lang="en">
<!-- Mirrored from themesbrand.com/skote/layouts/layouts-hori-boxed-width.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Feb 2021 13:07:53 GMT -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />


    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
    

</head>

<body data-topbar="dark" data-layout="horizontal" data-layout-size="boxed">


    <div>
        @RenderBody()
    </div>
  

</body>

</html>
