<h1>details</h1>

<table class="table tab-content">
    <tr>
        <td>Name: @ViewBag.Name</td>
    </tr>
    <tr>
        <td>Age: @ViewBag.Age</td>
    </tr>
    <tr>
        <td><a href="@Url.Action("Index", "Session")">Go back</a></td>
    </tr>
</table>